/* -----------------------------------------------------*/
/*common elements*/
/* -----------------------------------------------------*/
* {
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size:12px;
    text-rendering: optimizeLegibility;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.ExamplePass{
    display: block;
    height:200px;
    width:auto;
    max-width: 400px;
    margin:auto;
}
.PolicyBlock{
    display: block;
    height:auto;
    min-height:900px;
    width:768px;
    margin:auto;
    margin-top:200px;
}
.RFooterLogoSpace{
    display: block;
    height:95px;
    width:100%;
    background: rgb(255,0,236);
    background: linear-gradient(45deg, rgba(255,0,236,1) 0%, rgba(226,60,70,1) 76%);
}
a{
    text-decoration: none;
}
body{
    margin:0px;
    padding:0px;
}
p{
    font-size:18px;
    line-height: 33px;
    word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
    color:#333;
}
H1{
    display:block;
    width: auto;
    font-size:48px;
    font-weight: 300;
}
H2{
    display: inline-block;
    width: auto;
    font-size:26px;
    font-weight: 400;
    color:#333;
}
.HeroButtonBlock{
    display: block;
    width:700px;
    height:80px;
    padding-left:70px;
}
.TextBothSides{
    padding-left:20px;
    padding-right:20px;
    padding-bottom:100px;
    padding-top:120px;
}
.TextSideL{
    display:inline-block;
    min-height:400px;
    height:auto;
    width:50%;
    padding-top:127px;
    padding-left:20px;
    padding-bottom:100px;
}
.TextSideL1{
    display:inline-block;
    min-height:400px;
    height:auto;
    width:50%;
    padding-top:127px;
    padding-left:20px;
    padding-bottom:100px;
}
.TextSideR{
    display:inline-block;
    float:right;
    min-height:400px;
    height:auto;
    width:40%;
    padding-top:100px;
}
.FloatingInfoBlock{
    display:block;
    min-height:400px;
    height:auto;
    width:1200px;
    margin: auto;
}
.FloatingTextSpace2{
    display:block;
    width:100%;
    min-height:400px;
    height:auto;
    color:#fff;
}
.MainIcon{
    display: block;
    height:220px;
    margin:auto;
}
.MainIconTest{
    display: block;
    width:768px;
   
    margin:auto;
}
.MainIconTest2{
    display: block;
    width:768px;
    height:600px;
    margin:auto;
}
.MainIcon2{
    display: block;
    height:220px;
    margin:auto;
}
.NavText{
    display:block;
    width:600px;
    height:52px;
    margin: auto;
    font-weight: 300;
}
.LinkStyle{
    color:#333;
    text-decoration: none;
    cursor:pointer;
    text-decoration: none;
     font-size:16px;
}
.LinkStyle:hover{
    color:#de1a25;
    text-decoration: none;
}
.LinkStyle2{
    color:#de1a25;
    font-size:18px;
    text-decoration: none;
    cursor:pointer;
    font-weight: 400;
}
.LinkStyle2:hover{
    color:#fff;
    text-decoration: none;
}
.HeaderMain{
    display: block;
    width:100%;
    height:100px;
    background-color: 000;
    padding-top:17px;
}
.SiteLogoImage{
    display:block;
    height:80px;
    width:auto;
    margin:auto;
}
.NavMain{
    display:block;
    height:52px;
    width:100%;
    margin: auto;
}
.FloatingSubHeaderSpacer{
    display:none;
}
.NavLrgBttn{
    display: none;   
}
.ButtonBKGColor{
    background-color:#de1a25;
}
.FPWMobileMenu{
    display:none;
}
.HeroTextBox{
    display:block;
    width:768px;
    min-height:20px;
    height:auto;
    margin:auto;
}
.HeroText{
    display:block;
    font-size: 24px;
    font-weight:400;
}
.TitleText{
    display: block;
    font-size:44px;
    font-weight: 600;
    width:100%;
    color:#333;
    text-align: center;
    padding-top:60px;
    margin-bottom:40px;
}
.SubTitleText{
    display:block;
    font-size:20px;
    font-weight: 400;
    width:500px;
    height:auto;
    text-align: center;
    padding-top:10px;
    padding-bottom:10px;
    border:1px solid #e23c46;
    margin:auto;
    border-radius: 200px;
    color: #333;
    line-height: 1.55;
    transition: background-color 0.9s ease;
    margin-bottom:40px;
    
}
.SubTitleText:hover{
    transition: background-color 0.9s ease;
    background-color:#f918c5;
    color:#fff;
    border:1px solid #fff;
}
.MainBttn{
    display:block;
    float:left;
    text-align: center;
    width:270px;
    height:50px;
    font-weight: 400;
    text-decoration:none;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
    cursor:pointer;
    color:#fff;
    border-radius:200px;
    padding-left:10px;
    padding-right:10px;
    padding-top:14px;
    font-size:20px;
    background-color:#de1a25;
    margin-right:20px;
    margin-top:16px;
}
.MainBttn:hover{
    background-color: #333;
    color: #fff;
}
.TextBttn{
    display:inline;
    text-align: center;
    width:270px;
    height:50px;
    font-weight: 400;
    text-decoration:none;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
    cursor:pointer;
    color:#fff;
    border-radius:200px;
    padding-left:10px;
    padding-right:10px;
    padding-top:14px;
    font-size:20px;
    background-color:#de1a25;
    margin-right:20px;
    margin-top:16px;
}
.TextBttn:hover{
    background-color: #333;
    color: #fff;
}
.HeroImageFront{
    display: block;
    width:841px;
    position: absolute;
    right:0px;
    top:94px;
}
.HeroImageBack{
    display: block;
    Float:right;
    width:841px;
    margin-top:0px;
}
.BkgImage3{
    background-image: url(img/sky2.jpg);
    height:auto;
    width:100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top:100px;
}
.NavText2{
    text-align: center;
    vertical-align: middle;
    line-height: 40px;
}
.FPWMobileCTA{
    display: none;
    float:left;
    min-height:60px;
    height:auto;
    width:100%;
    text-decoration: none;
    cursor: pointer;
}
.FPWMobileCTASpacer{
    display: block;
    width:342px;
    height:60px;
    margin:auto;
    transition: background-color 0.8s ease;
    border-radius: 300px;
}
.FPWMobileCTASpacer:hover{
    background-color: #d84b84;
    border-radius: 300px;
}
.FPWMobileCTAText{
    display:block;
    float:left;
    color:#fff;
    text-decoration: none;
    font-size: 12px;
    text-align: left;
    line-height:1.7;
    margin-top:10px;
}
.FPWMobileCTAIcon{
    display: block;
    float:left;
    height:60px;
    width:60px;
    padding:4px;
}
/* -----------------------------------------------------*/
/*Custom Elements*/
/* -----------------------------------------------------*/
.MainBackgroundColor{
    background-color: #fff;
}
.HeaderBkgColor{
    background: rgb(255,0,236);
    background: linear-gradient(45deg, rgba(255,0,236,1) 0%, rgba(226,60,70,1) 76%);
    opacity:0.95;
}
.NavBkgColor{
    background-color: #35454d;
    opacity: 0.97;
}
.LinkStyleNav{
    display:block;
    float:left;
    height:52px;
    width:auto;
    padding:17px;
    color:#fff;
    text-decoration: none;
    cursor:pointer;
    text-decoration: none;
    font-size:16px;
    text-align: center;
    font-weight: 300;
    transition: 0.9s;
    font-weight:400;
}
.LinkStyleNav:hover{
    background-color:#fff;
    opacity: 0.7;
    color:#e23c46;
    text-decoration: none;
}
.FloatingTextSpaceColor{
    background-color: #f9f9f9;
}
.NavTextColor{
    color:#333;
}
.MainFooterColor{
    background-color: #f9f9f9
}
.HeroTextColor{
    color:#333;}
.MobileNavText:hover{
    color:#de1a25;
    text-decoration: none;
}
.CopyrightTextColor{
    color:#999;
}
.H1Color{
    color:#333;
}
/* -----------------------------------------------------*/
/*sticky nav*/
/* -----------------------------------------------------*/
.navbar{
    display: block;
    overflow: hidden;
    position: fixed;
    top: 0px;
    width: 100%;
    min-height:129px;
    height:auto;
    text-decoration: none;
    border-radius: 0px;
    border: 0px solid #fff;
    z-index:1000;
}
.navbar2 {
    display: block;
    overflow: hidden;
    position: fixed;
    top: 0px;
    width: 100%;
    text-decoration: none;
    border-radius: 0px;
    border: 0px solid #fff;
    z-index:1000;
    height:77px;
}
.mainpagecontent {
    margin-top: 0px;
}
#section2{
    padding-top:127px;
}
#section4{
    padding-top:127px;
}
/* -----------------------------------------------------*/
/*Mobile Nav*/
/* -----------------------------------------------------*/
.MobileMenu{
    display:none;
    width:100%;
    height: 100%;
    background-color:#fff;
    position:fixed;
    right:0px;
    top:0px;
    z-index:1001;
}
.MobileHeader{
    display: none;
    width:100%;
    height:70px;
    top:0px;
    left:0px;
    font-size:40px;
    font-weight:300;
    padding-top:10px;
    padding-left:20px;
    color:#fff;
    background: rgb(255,0,236);
    background: linear-gradient(45deg, rgba(255,0,236,1) 0%, rgba(226,60,70,1) 76%);
}
.MobileMenuRow{
    display: none;
    width:100%;
    min-height:60px;
    height:auto;
    color:#333;
    font-size:24px;
    padding-top:14px;
    padding-left:20px;
    padding-bottom:14px;
    border-top:1px solid #f9f9f9;
    cursor: pointer;
}
.MobileMenuRow:hover{
    background: rgb(255,0,236);
    background: linear-gradient(45deg, rgba(255,0,236,1) 0%, rgba(226,60,70,1) 76%);
    transition: 0.8s;
    color:#fff;
}

/* -----------------------------------------------------*/
/*Bkg Images*/
/* -----------------------------------------------------*/
.BkgImage1{
    background-color: #fff;
    display: block;
    margin-top:152px;
    min-height: 640px;
    height:auto;
    z-index:-1;
}
.BkgImage2{
    background-color:#fff;
    min-height: 100px;
    height:auto;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top:100px;
    z-index:-2;
}
.BkgImage3{
    background-image: url(img/sky2.jpg);
    min-height: 100px;
    height:auto;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top:100px;
    z-index:-2;
}
/* -----------------------------------------------------*/
/*Footer*/
/* -----------------------------------------------------*/
.MainFooter{
    display:block;
    min-height:360px;
    height:auto;
    width:100%;
    padding-bottom:12px;
}
.FollowUsText{
    display: block;
    font-size: 22px;
    font-weight: 400;
    color: #fff;
    width:160px;
    min-height:30px;
    height: auto;
    padding-top: 25px;
    margin: auto;  
}
.SocialButtonSpace{
    display: block;
    width:199px;
    display: block;
    min-height:90px;
    height: auto;
    margin: auto;
    margin-top:30px;
    margin-bottom:30px;
}
.InsertLogoSpaceFooter{
    display:block;
    height:80px;
    margin: auto;
    padding-top:10px;
}
.CopyrightText{
    line-height: 130%; 
    font-size:12px;
    margin-bottom:10px;
}

.SBSML1{
    display:block;
    float:left;
    height:90px;
    margin-top:4px;
    }
.SBSML1:hover{
    padding:10px;
    background:linear-gradient(
      rgba(250, 20, 212, 1), 
      rgba(230, 58, 99, 1)
    ),url(img/bkg8.jpg);
    border-radius: 200px;
    transition: 1s;
}
.SBSML2{
    display:block;
    float:left;
    height:90px;
    margin-left:15px;
    margin-top:4px;
    }
.SBSML2:hover{
    padding:10px;
    background:linear-gradient(
      rgba(250, 20, 212, 1), 
      rgba(230, 58, 99, 1)
    ),url(img/bkg8.jpg);
    border-radius: 200px;
    transition: 1s;
    }
strong{
    font-family: 'Raleway', sans-serif;
    font-size:20px;
    font-weight:400px;
}
li, ul{
    font-size:20px;
    margin-bottom:10px;
}
h3,h4{
    font-size:20px;
}
a{
    font-size:20px;
    color:#fb15d4;
}
/* -----------------------------------------------------*/
/*Responsive Media*/
/* -----------------------------------------------------*/
@media screen and (max-width: 342px) {
.FPWMobileCTASpacer{
    display: block;
    width:100%;
}
}
@media screen and (max-width: 400px) {
.ExamplePass{
    display: block;
    height:auto;
    width:100%;
    max-width:none;
    margin:auto;
    padding:10px;
}
}
@media screen and (max-width: 768px) {
.PolicyBlock{
    width:100%;
    padding:20px;
}
.MainIconTest{
    display: block;
    width:100%;
    margin:auto;
}
.MainIconTest2{
    display: block;
    width:100%;
    height:auto;
    margin:auto;
}
.TextBothSides{
    padding-top:0px;
}
.SiteLogoImage{
    display:block;
    height:50px;
    width:auto;
    margin:auto;
}
.SubTitleText{
    width:90%;
    padding:20px;
   
 
}
.FPWMobileCTA{
    display: block;
    }
.BkgImage1{
    margin-top:129px;
    min-height: 400px;
}
.NavMain{
    display:none;
} 
.FloatingTextSpace2{
    padding-top:127px;
    padding-bottom:50px;
    }
.BkgImage2Space{
    display: block;
    height:700px;
    padding-top:60px;
}
.MobileMenuRow{
    display:block;
}
.MobileHeader{
    display: block;
    }
.MobileMenu{
    display:block;
}
.HeroButtonBlock{
    width:100%;
    padding-left:20%;
    padding-right:20%;
    height:200px;
    }
.TextSideL{
    display:block;
    float:none;
    width:100%;
    padding:20px;
}
.TextSideR{
    display:block;
    float:none;
    width:100%;
    padding:40px;
}
.TextSideL1{
    display:block;
    background-image: url(img/SECURITY2.svg);
    background-repeat: no-repeat;
    float:none;
    width:100%;
    padding:40px;
}
.HeroText{
    display: inline-block;
    font-size: 18px;
    font-weight:400;
    margin-top:15px;
    margin-bottom:15px;
    padding:20px;
    width:100%;
}
.MainBttn{
    width:100%;    
    }
.MainIcon{
    margin-bottom:0px;
    width:300px;
}
.MainIcon2{
    margin-bottom:0px;
    width:98%;
    padding-left:2%;
    padding-right:2%;
    height:auto;
}
.BkgImage2{
    padding-top:40px;
    min-height:600px;
}
.TitleText{
    display: block;
    width:100%;
    height:auto;
    font-size:44px;
    margin:auto;
    padding-top:20px;
    padding-left:20px;
    padding-right:20px;
    margin-top:20px;
    margin-bottom:20px;
    text-align: center;
}
.FPWMobileMenu{
    display:inline-block;
    position: fixed;
    top:0px;
    right:0px;
    width:70px;
    height:70px;
    padding: 20px;
    float:right;
    cursor: pointer;
}
.FPWMobileMenu:hover{
    background-color:#d84b84;
    transition: 0.8s;
}
.FloatingSubHeaderSpacer{
    display:block;
    width:320px;
    height:50px;
    margin:auto;
    padding-top:11px;
}
.NavText{
    display:none;
}
.NavLrgBttn{
    display:block;
    float:left;
    text-align: center;
    width:150px;
    height:30px;
    font-weight: 400;
    text-decoration:none;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
    cursor:pointer;
    color:#fff;
    border-radius:200px;
    padding-left:10px;
    padding-right:10px;
    padding-top:9px;
    font-size:14px;
    border: none;
}
.NavLrgBttn:hover{
    background-color: #333;
    color: #fff;
}
.HeaderMain{
        height:70px;
        padding-top:12px;
}
.HeroTextBox{
    width:100%;
}
}
@media screen and (max-width: 1200px) {
 .FloatingInfoBlock{
    width:100%;
    height:auto;
}
}